:root {
  --light-dark: gray;
  --light-black: rgb(30, 30, 30);
  --blueish: rgb(26, 181, 224);
  --redish: rgb(253, 52, 52);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="number"] {
  padding-left: 10px;
  height: 40px;
  width: 550px;
  border-radius: 5px;
  border: 1px solid black;
}

button,
input[type="text"] {
  font-size: 1rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input:focus {
  /* box-shadow: 0 0 10px 10px blue; */
  border: 1px solid black;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

#home {
  height: 60vh;
  display: flex;
  background-color: var(--light-black);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 0 25vw;
}

#new-book {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--blueish);
  border: var(--blueish) 1px solid;
}

#new-book:hover {
  color: var(--light-black);
  background-color: var(--blueish);
}

/* main related styles starts */
main {
  width: 90vw;
  margin: 30px auto;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px 0 100px;
}

.book {
  height: 18vw;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  font-size: 1.1rem;
}

.book > p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  border-top: rgb(200, 200, 200) 1.5px solid;
  border-bottom: rgb(200, 200, 200) 1.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.middle > p:first-child {
  color: var(--light-black);
}

.middle div {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.check-read,
.delete {
  color: white;
  padding: 13px 15px;
  border-radius: 7px;
}

.check-read {
  background-color: var(--light-black);
}

.delete {
  background-color: var(--redish);
}

footer {
  padding: 0 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dom styles */
.read {
  border: var(--blueish) 1px solid;
}

.unread {
  border: var(--redish) 1px solid;
}

.cross-icon {
  color: var(--redish);
}

.tick-icon {
  color: var(--blueish);
}

/* dialog styles */
dialog {
  position: absolute;
  top: 25vh;
  left: 20vw;
  width: 60vw;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
  font-size: 1.5rem;
}

dialog button {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

form {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

form div:nth-child(4),
form div:nth-child(5) {
  justify-content: flex-start;
  gap: 10px;
}
